## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [72]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [73]:
sample_list_1 = (random.sample(range(100), k=80))
print(sample_list_1)

[27, 92, 16, 37, 77, 47, 9, 44, 6, 98, 14, 89, 97, 26, 73, 59, 0, 3, 11, 30, 52, 10, 53, 84, 85, 15, 32, 31, 33, 62, 78, 49, 80, 82, 19, 72, 83, 93, 64, 40, 87, 61, 81, 7, 42, 1, 86, 36, 29, 51, 65, 13, 95, 70, 38, 24, 2, 50, 75, 46, 76, 74, 20, 45, 56, 69, 67, 28, 35, 96, 55, 25, 71, 57, 66, 48, 23, 99, 5, 58]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [74]:
set1 = set(sample_list_1)
print(set1)
print(len(sample_list_1))

{0, 1, 2, 3, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 19, 20, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 89, 92, 93, 95, 96, 97, 98, 99}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop and the `randrange()` function.*

In [75]:
sample_list_2 = [random.randint(0,100) for i in range(80)]
print(sample_list_2)
len(sample_list_2)

[35, 13, 76, 27, 54, 8, 79, 91, 66, 95, 56, 20, 97, 22, 19, 54, 18, 17, 78, 99, 55, 55, 52, 25, 28, 72, 29, 12, 6, 69, 0, 77, 6, 73, 7, 11, 89, 33, 92, 25, 34, 98, 60, 13, 14, 59, 3, 17, 97, 3, 52, 67, 97, 98, 15, 42, 98, 82, 46, 30, 71, 79, 6, 97, 14, 78, 49, 91, 91, 55, 79, 2, 91, 98, 3, 55, 84, 45, 46, 98]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [76]:
set2 = set(sample_list_2)
print(len(set2))
#It's not still 80 because all the copies have been removed
print(set2)

53
{0, 2, 3, 6, 7, 8, 11, 12, 13, 14, 15, 17, 18, 19, 20, 22, 25, 27, 28, 29, 30, 33, 34, 35, 42, 45, 46, 49, 52, 54, 55, 56, 59, 60, 66, 67, 69, 71, 72, 73, 76, 77, 78, 79, 82, 84, 89, 91, 92, 95, 97, 98, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [77]:
set3 = set()
for i in set1:
    if i not in set2:
        set3.add(i)
print(set3)

{1, 5, 9, 10, 16, 23, 24, 26, 31, 32, 36, 37, 38, 40, 44, 47, 48, 50, 51, 53, 57, 58, 61, 62, 64, 65, 70, 74, 75, 80, 81, 83, 85, 86, 87, 93, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [78]:
set4 = set()
for i in set2:
    if i not in set1:
        set4.add(i)
print(set4)

{34, 8, 12, 79, 17, 18, 22, 54, 91, 60}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [79]:
set5 = set()
for i in set2:
    if i in set1:
        set5.add(i)
print(set5)

{0, 2, 3, 6, 7, 11, 13, 14, 15, 19, 20, 25, 27, 28, 29, 30, 33, 35, 42, 45, 46, 49, 52, 55, 56, 59, 66, 67, 69, 71, 72, 73, 76, 77, 78, 82, 84, 89, 92, 95, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Think about the set operations that you used to create the sets and how the lengths of the sets are related to each other given those operations.

In [80]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
# set 1 and set 2 are two sets overlaped, set5 is the interseccion,
#set3 and set4 are mutually exclusive sets inside set1 and set2 respectively

80
53
37
10
43

#### Create an empty set called `set6`.

In [81]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [82]:
set6.update(set3, set5)
print(set6)
len(set6)
set6 == set1

{0, 1, 2, 3, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 19, 20, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 89, 92, 93, 95, 96, 97, 98, 99}

True

#### Check if `set1` and `set6` are equal.

In [83]:
set6 == set1

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.

In [84]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [85]:
set3|set4|set5 == set1|set2

True

#### Using the `pop` method, remove the first element from `set1`.

In [86]:
set1.pop()
len(set1)

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [88]:
set1 = {0, 1, 2, 3, 5, 6, 7, 9, 10, 11, 13, 14, 15, 16, 19, 20, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 61, 62, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 80, 81, 82, 83, 84, 85, 86, 87, 89, 92, 93, 95, 96, 97, 98, 99}
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.discard(i)
print(set1)

{0, 2, 3, 5, 6, 7, 10, 13, 14, 15, 16, 20, 23, 24, 25, 26, 27, 28, 30, 32, 33, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 50, 52, 53, 55, 56, 57, 58, 62, 64, 65, 66, 67, 70, 72, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 92, 93, 95, 96, 97, 98}